.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  font-family: 'Playfair Display SC', serif;
  margin: auto;
  padding: 2em 3em 3em 3em;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../public/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

textarea, input {
  font-family: 'Nunito Sans', sans-serif;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border-width: 0;
}

.instructions-btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: auto;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  border-color: #61dafb;
  border-width: 0;
  color: #fff;
  box-shadow: 0 0 40px 40px #61dafb inset, 0 0 0 0 #61dafb;
  transition: all 250ms ease-in-out;
}

.instructions-btn:hover, .instructions-btn:focus{
  color: #fff;
  outline: 0;
  box-shadow: 0 0 10px 0 #61dafb inset, 0 0 10px 4px #61dafb;
}


.body-text {
  font-family: 'Nunito Sans', sans-serif;
}